.action-container {
  height: 3rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background-color: #777777;
  opacity: 0.45;
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 2;
  border-radius: 4px;
  touch-action: none;
  user-select: none;
}

.action-container > * {
  height: 3rem;
  cursor: pointer;
  height: calc(100% - 1rem);
  width: 2rem;
  padding: 0.5rem;
}

.action-handle {
  cursor: move;
  touch-action: none;
  user-select: none;
}

.action-handle > *, .action-full-screen > *, .action-size-picker > :first-child, .action-eraser > * {
  height: 100%;
  width: 100%;
}

.action-eraser .active {
  stroke: #ff83a8;
}

.action-size-picker {
  position: relative;
}

.action-size-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 10rem;
  background-color: #777777;
  position: absolute;
  bottom: 4rem;
  border-radius: 5px;
  padding: 0.5rem;
}

.action-size-slider {
  position: relative;
  top: 0;
  transform: rotate(-90deg);
  width: 9rem;
  height: 1rem;
}


@media (prefers-color-scheme: dark) {
  
}


.hidden {
  display: none;
}

.notebook-canvas {
  touch-action: none;
  user-select: none;
}
